/* sizing includes margin and padding on all properties*/

* {
    box-sizing: border-box;
}
  
*, 
*:before, 
*:after {
    box-sizing: inherit;
}

/* body properties include fade in on page load */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;

    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.nameLogo {
    position: absolute;
    top: -50px;
    left: 16px;
    
    letter-spacing: -9px;
    font-size: 48px;
    color: #29C6B2;
}

/* Links */

a:visited, 
a:link, 
.introLink:hover, 
.introLink:visited {
    color: #5D5D5D;
    text-decoration: none;
}

a:hover, 
a:active, 
.projectLink:hover, 
.projectLink:active {
    color: #29C6B2;
    transition: 0.25s;
}

.introLink, 
.introLink:link {
    color: #29C6B2;
}

.projectLink:link, 
.projectLink:visited {
    color: white;
}

.navLink project {
    padding-right: 10px;
}

/* Arrows */

.arrow-white {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.arrow-black {
    border-top: 2px solid black;
    border-right: 2px solid black;

    margin-bottom: 10px;
}

.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;

    transform: rotate(135deg);
}

/* Nav */

nav {
    padding: 5px 0;
    width: 100%;

    position: absolute;
    top: 0;
}

nav a {
    float: right;
    padding: 20px 25px 0px 10px;
}  

/* Headers */

h1 {
    padding: 75px 10% 10% 10%;
    margin-top: 10%;
    margin-bottom: 18%;

}

h1, 
.moreInfo {
    color: #5D5D5D;
}

h2 {
    font-size: 48px;

    margin-top: 0;
    margin-bottom: 0;
}

/* projects and sections */

.projectSection {
    background-color: black;
    color: white;
    
    padding-bottom: 10px;
}

.projectDescription {
    margin-left: 5px;
    margin-right: 5px;
}

section {
    min-height: 200px;
    padding: 3% 0;
}

section.aboutMe {
    padding-top: 10%;
    text-align: left;
    margin-left: 10px;
}

section a {
    padding-left: 35px;
}

/* images */

img {
    width: 90%;
    height: 90%;
    max-height: 568px;
    max-width: 318px;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.projectScreenshot {
    height: auto;
    width: 20vh;
    padding: 0 20px 0 20px;
    margin: auto;
}

.aboutPhoto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photoOne {
    margin: 0;
    height: 45%;
    width: 45%;
}

.photoTwo {
    margin: 0;
    height: 46%;
    width: 46%;
    margin-right: 10px;
}

/* footer */

footer img {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin: 0;
}

section a, footer a {
    padding-right: 35px;
}

footer p {
    color: #29C6B2;
    font-size: 20px;
}

footer a {
    padding-top: 35px;
}

footer {
    min-height: 200px;
    padding: 1% 0;
}

/* media */

@media only screen and (min-width: 375px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (min-width: 700px) {

    h1 {
        padding: 36vh 10vh 36vh 10vh;
    }

    .aboutPhoto {
        display: block;
        float: left;
    }

    .photoOne {
        height: 82.5%;
        width: 82.5%;
        margin-left: 20px;
        margin-top: 20vh;
    }

    .photoTwo {
        height: 83%;
        width: 83%;
        margin-left: 20px;
        margin-bottom: 25vh;
        padding: 0;
    }

    .project {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .projectTitle, 
    .projectDescription, 
    .projectLink, 
    .futureScreenshot {
        padding: 0 20px 0 20px;
        margin: auto;
    }

    .projectTitle {
        font-weight: normal;
    }

    .projectDescription {
        padding-top: 25px;
    }

    section.aboutMe {
        margin-right: 10px;
    }

    img {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 800px) {
    .photoOne {
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 900px) {
    .photoOne {
        margin-top: 7vh;
    }

    .photoTwo {
        margin-bottom: 1vh;
    }
}

@media only screen and (min-width: 1000px) {
    .photoOne {
        margin-top: 5vh;
    }

    .photoTwo {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .start {
        margin-top: 8vh;
    }

    .projectScreenshot {
        width: 25vh;
    }

    section.aboutMe {
        padding-top: 10vh;
    }

    .photoTwo {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .start {
        margin-top: 12vh;
    }
}